# Dependencies
node_modules/

# Build outputs
dist/
.next/
out/
storybook-static/

# Environment & secrets
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
pnpm-debug.log

# Turbo
.turbo/

#Testing
coverage/

# Cache
.eslintcache
*.tsbuildinfo
*storybook.log
